<%- include("partials/header.ejs") %>

<div class="card text-bg-dark main-card rounded-0 border-0">
  <img src="/images/bg.jpg" class="card-img bg-image" />
  <div
    class="card-img-overlay py-5 text-center d-flex flex-column justify-content-center align-items-center"
  >
    <h5 class="card-title display-3 fw-bold">Bite & Write</h5>
    <p class="card-text lead">A blog for food lovers and kitchen creators.</p>
  </div>
</div>


<div class="container my-5">
  <div class="row">
    <% if (locals.recipes && locals.recipes.length > 0) { %>
    <% for (let i = 0; i < locals.recipes.length; i++) { const recipe =
   recipes[i]; %>

    <div class="col-md-6 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title"><%= recipe.title %></h5>
          <p class="small" >Publish Date: <%= recipe.date %></p>
          <p class="fs-6" >Description: <%= recipe.description %></p>
          <p class="fs-6">Ingredients: <%= recipe.ingredients %></p>
          <p class="fs-6">Instructions:<%= recipe.instructions %></p>
        </div>

       <div class="d-flex card-footer d-flex justify-content-between">
        <form action="/view" method="get" >
          <input type="hidden" name="index" value="<%= i %>" />
          <button type="submit"class="btn btn-success"/> View</button>
        </form>
     

        <form action="/edit" method="get">
          <input type="hidden" name="index" value="<%= i %>" />
          <button type="submit" class="btn btn-custom">Edit</button>
        </form>

        <form action="/delete" method="post">
          <input type="hidden" name="index" value="<%= i %>" />
          <button type="submit" class="btn btn-custom " >Delete</button>
        </form>
      </div>
      </div>

    </div>

    <% } %>
    <% } else{%>
      <p class="text-center">No recipes found.</p>
      <% } %>
   
  </div>
</div>

<%- include("partials/footer.ejs") %>
